body {
	font-size: 13px;
	font-family: 'Source Sans Pro', sans-serif;
}
/* GENERAL */
.main {
	max-width: 750px;
	min-width: 750px;
	width: 750px;
	margin: 0px auto 10px;
}

a {
	color: #08519c;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

h1 {
	font-size: 18px;
}

p {
	margin: 5px 0px 5px 0px;
}

.anchor {
	display: block;
	position: absolute;
	width: 0;
	height: 0;
	z-index: -1;
	visibility: hidden;
	margin-top: -95px; /* header height */
}

/* HEADER */
.header-wrapper {
	position: fixed;
	background-color: white;
	top: 0;
}

.header {
	max-width: 750px;
	min-width: 750px;
	width: 750px;
	min-height: 95px;
	margin: 0 auto 0;
	background-color: white;
	border-bottom: solid;
}

.info {
	float: left;
}

.info .title {
	font-size: 42px;
	font-variant: small-caps;
	letter-spacing: -1px;
}

.info .tagline {
	font-size: 17px;
	color: #525252;
}

.navbar {
	float: right;
	text-align: right;
	padding: 75px 0px 0px 0px;
}

/* CONTENT */
.content-wrapper {
	margin-bottom:30px;
}

.content {
	/* border: solid; */
	padding-top: 85px;
}

/* ABOUT */
.about {
	/* border: solid; */
	width: 100%;
	height: 180px;
}

.about .portrait {
	float: left;
	width: 180px;
	/* border: solid; */
}

.about .portrait img {
	width: 140px;
	display: block;
	margin: 10px auto 10px auto;
}

.about .bibliography {
	float: right;
	width: 550px;
	/* border: solid; */
}

/* SECTION */
.section-wrapper {
	margin: 0px 10px 0px 10px;
}

.section-title {
	margin-top: 20px;
}

.section-title h1 {
	margin-bottom: 0px;
	text-transform: uppercase;
}

.section-title hr {
	margin-top: 0px;
}

/* FILA */
.fila {
	margin-top: 20px;
	clear: both;
}

.fila .titulo {
	color: #08519c;
	font-weight: bold;
	padding-top: 0px;
	margin: 0px 0px 0px 0px;
}

.fila .titulo-no-link {
	color: black;
}

.texto-2-column {
	/* border: solid; */
	height: 100px;
}

.column-left {
	/* border: solid; */
	float: left;
	width: 200px;
	height: 100px;
}

.column-left img {
	display: block;
	width: 180px;
	height: 90px;
	margin: 5px auto 5px auto;
	border-radius: 5px;
	border: 1px solid;
	height: 90px;
}

.column-right {
	/* border: solid; */
	float: right;
	width: 530px;
	float: right;
}