#svg-map-vis {
	background:#f2f2f2;
}


/* MAP LAND */
.land {
	fill: #fafafa;
	stroke: #bdbdbd; 
}

.land-borders {
	stroke:none;
	fill-opacity: 0;
}

.land-borders:hover {
	stroke: black; 
}  

.land-label{
	fill: black;
	fill-opacity: 1;
	font-weight: 550;
	text-anchor: middle;
	text-transform: capitalize;
	pointer-events: none;
	text-shadow: 2px 0 10px rgba(255, 255, 255, 1	);
}

.land-rect{
	fill:none;
	stroke:black;
	stroke-width: 1px;
}

/* ==================== */

.feature-map-selected{
	fill:#ffa000;
	fill-opacity:1;
	stroke:#c67100;
}

/* ==================== */
/* LINE ARROW */
.line-arrow-map{
	pointer-events: none;
}

/* to change only arrowHead */
.arrowHead{
	fill:rgba(0, 0, 0, 0.9	);
	stroke:rgba(0, 0, 0, 1);
	stroke-width:1;
	stroke-opacity:1;

}
/* ==================== */


/* ==================== */
/* SMALL MULTIPLE */
/* Barchart */
/* Axis in Barchart */
.barchart .x.axis path, 
.barchart .y.axis path{
	stroke: rgba(0, 0, 0, 1);
}

.barchart .x.axis line,
.barchart .y.axis line {
	stroke: rgba(0, 0, 0, 1);
}

.barchart .y.axis text{
	text-transform: capitalize;
}

.barchart .barsValuesTextTopK{
	text-anchor:start;
}

.barchart .barsTopK{
	stroke:#bdbdbd;
}

.barchart .x.grid {
	stroke: #636363;
	stroke-opacity:0.3;
	stroke-width: 1;
	pointer-events: none;
}