
body {
	font-family: 'Roboto', 'Source Sans Pro', sans-serif;
	background: white; /* #f9f9f9ff; */ /* #f1f1f1; */
	font-size:100%;
	/* font-size: 1rem; */
}


h4{
	font-size: 1.02rem;
	font-weight: 400;
	font-style:normal;
	letter-spacing: 0.07em;
	color:#252525;
}

h5{
	font-size: 0.72rem;
	font-weight: 400;
	font-style:normal;
	letter-spacing: 0.0em;
	color:#252525;
}

h6{
	font-size: 0.6rem;
	font-weight: 500;
	font-style:normal;
	letter-spacing: 0.05em;
	color:#525252;
}


.subtitle1{
	font-size: 0.48rem;
	font-weight: 400;
	font-style:normal;
	letter-spacing: 0.05em;
}

.subtitle2{
	font-size: 0.42rem;
	font-weight: 500;
	font-style:normal;
	letter-spacing: 0.03em;
}

.body1{
	font-size: 0.48rem;
	font-weight: 400;
	font-style:normal;
	letter-spacing: 0.04em;
}

.body2{
	font-size: 0.42rem;
	font-weight: 400;
	font-style:normal;
	letter-spacing: 0.02em;
}


.button{
	font-size: 0.42rem;
	font-weight: 500;
	font-style:normal;
	letter-spacing:0.05em;
	text-transform: uppercase;
}

.caption{
	font-size: 0.36rem;
	font-weight: 400;
	font-style:normal;
	letter-spacing: 0.01em;
}

.overline{
	font-size: 0.3rem;
	font-weight: 400;
	font-style:normal;
	letter-spacing: 0.03em;
	text-transform: uppercase;	
}

div {
	-webkit-user-select: none; /* Chrome, Opera, Safari */
	-moz-user-select: none; /* Firefox 2+ */
	-ms-user-select: none; /* IE 10+ */
	/* user-select: none; Standard syntax */
}

/*  */
/*  */
/* BUTTONS */

.btnContained{
	border-radius: 4px!important;
	align-items: center!important;
	box-sizing: border-box!important;
	vertical-align: middle!important;
	/* padding:0 1rem!important;
	margin:0.5rem 1rem!important; */
}

.btnOutlined{
	border-radius: 4px!important;
	align-items: center!important;
	box-sizing: border-box!important;
	vertical-align: middle!important;
}


/*  */
/*  */
/*  */


/*  */
/*  */
/* CHIPS */

.chipFilter{
	border-radius: 26px!important;
	align-items: center!important;
	box-sizing: border-box!important;
	vertical-align: middle!important;
	border:1px solid rgb(238, 238, 238);
	color: #212121;	
	transition-duration: 0.4s;
}

.chipFilter:hover, .chipFilter.active:hover{
	background-color: rgba(238, 238, 238, 0.4);
}

.chipFilter.active{
	background-color: rgba(238, 238, 238, 0.8);
}




/*  */
/*  */
/*  */











/* APP HEADER  */
#appHeaderWrapper {
	background: #2e7d32!important;
	z-index: 1;
}

.navbar-brand{
	/* margin:0; */
	padding: 0;
}

#appTitle {
	vertical-align: middle;
	font-size: 1em;
	font-weight: 700;
	letter-spacing: 0.15em;
	color:white;
	margin-bottom: 0;
	margin-top: 0;
}

#appSubTitle {
	vertical-align: middle;
	font-size: 0.7em;
	font-weight: 500;
	color:rgba(238, 238, 238, 0.7);
	margin:0;
	display:inline-block;
}

.panelInfo{
	cursor:pointer;
	margin:0;
	padding: 0;
	vertical-align: middle;
}

#appIcon {
	height: 25px;
	width: 25px;
}

/* ========================== */

#mainWrapper{
	/* padding: 70px 22px 0px 22px; */
	padding: 4.3em 0.1em 0em 0.1em;
}

/* ========================== */

.plus{
	color:rgba(238, 238, 238, 0.8); 
	font-weight:900;
	/* padding-right: 0.1em; */
	margin:0px;
	padding:0px;
	font-size:0.8rem;
}

/* ========================== */
/* ITEM MENUS NAV */

.itemMenu{
	margin:10px 0px 10px 0px;
}

.dropdown-item{
	border-bottom: 1px solid#bdbdbd;
}

/* ========================== */




/* Main title */
/* ========================== */
#mainTitleWrapper {
	vertical-align: middle;
}

#mainTitle{
	text-align: center;
}

#mainSubtitleDate {
	text-transform: capitalize;
}

#mainSubtitleQuantitative, #mainSubtitleDataType{
	font-weight: bold;
	color: #3366cc;
	text-transform: uppercase
}


/* ========================== */
/* ========================== */
 #vistas{
	margin-top: 1em;
	opacity:0 !important;
}


/* ========================== */
/* ========================== */
/* EACH VIS */
.col-wrapper{
	padding-left:0.5em;
	padding-right:0.5em;
}

/* ========================== */
/* TITLE VIS */
.title-vis-wrapper {
	vertical-align: middle;
	text-align: center;
	/* margin: 5px auto 0px; */
}

.title-vis-wrapper .title-vis {
	display: inline-block;
	vertical-align: middle;
	padding: 0px 0px 0px 0px;
	text-transform: uppercase;
}
/* VIS wrapper */
.vis-wrapper {
	border: 1px solid grey;
	border-radius: 5px;
	background: white;
	padding: 0.5em;
}

.vis-subwrapper{
	background: white;
}

.vis-header{
	margin: 0.5em 0em 2em 0em;
}

#btnTreeNav{
	margin: 0;
	padding-top: 0;
	padding-bottom:0;
}

/* BUTTONS VIS MENU GROUP */
/* ========================== */
.input-group{
	margin-left:1em;
}

/* BUTTONS VIS MENU */
/* ========================== */
.vis-menu-btn {
	border: 1px solid #6abf69;
	background-color: #fafafa;
	
}
.vis-menu-btn.active {
	background-color:#6abf69;
	color: #fafafa;
}
.vis-menu-btn:hover{
	border: 1px solid #388e3c;
	box-shadow: 0 2px 4px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12)!important;
}





/* ACTIVE */

/* ACTIVE:HOVER */

/* OFF */

/* OFF:HOVER */


/* ========================== */

.icon {
	height: 18px;
	width: 18px;
	padding: 0px;
	margin: 0px;
}


/* ========================== */
/* MENU FIXED */
.menuFixed{
	position:fixed;
}


/* ========================== */
/* ========================== */
/* EACH TOOLTIP */
.tooltip{	
	width: auto;
	height: auto;
	border-radius:5px;
	pointer-events: none;
	padding: 0.5em 0.5em 0em 0.5em;
	background:  rgba(255, 255, 255, 0.95);
	border: 1px solid #bdbdbd;
	/* background-color: #f1f1f1; */
	/* h-offset v-offset blur spread color */
	box-shadow: 0 2px 4px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12)!important;
}


/* ========================== */
/* ========================== */

/* ========================== */
/* SHARING BUTTONS */
.sharing-buttons{
	/* padding:0.6em 0.2em 0.6em 0.2em; */
	/* border-radius: 5px; */
	/* background-color: white; */
	/* border: 1px solid #bdbdbd; */
	/* right:0.5%; */
	/* left:0%;
	top:50%; */
	z-index: 1;	
}

.sharing-buttons a{
	border-radius: 0.15em;
	display:inline-block;
	/* margin-top:0.1em; */
	padding: 0.4em 0.5em 0.4em 0.5em;
	color: #fff;
	text-decoration: none;
}

.sharing-buttons-mobil a{
	border-radius: 0.05em;
	display:inline-block;
	margin-top:0.4em;
	padding: 0.1em 0.2em 0.1em 0.2em;
	color: #fff;
	text-decoration: none;
}

.sharing-buttons a:hover{
	color: #eee;
	text-decoration: none;
}

.fab-social{
	font-size:1.4em;
}

.fab-social-mobil{
	font-size:1em;
}

.facebook{
	opacity:1;
	background: #3B5998; 
}

.twitter{
	background: #00ACED;
}







.vis-population-type{
	width:100px;	

	max-width: 120 fpx;
	min-width: 120px;
	white-space: nowrap;
	word-wrap: break-word;
	text-overflow: ellipsis;
	overflow: hidden;
}




/*  */
#msg-title-wrapper{
	background:rgba(255, 255, 255, 0.8);
	text-align: left;
	vertical-align: middle;
	display:inline-block;
	position:absolute;
	margin-top:4.5em;
	padding-right: 2em;
}

#msg-title-wrapper .date-title-wrapper{
	vertical-align: middle;
	display:block;
}
#msg-title-wrapper #date-title{
	margin:0;
}
#msg-title-wrapper .value-title-wrapper{
	vertical-align: middle;
	/* text-align: start; */
	display:inline-block;
	/* border:1px solid red; */
}

#msg-title-wrapper .quantitative-value{
	display:inline-block;
	/* padding:0em;
	margin:0em; */
}

#msg-title-wrapper .quantitative-label{
	display:inline-block;
	width: 2em;
	height: 10px;
}

#msg-title-wrapper .label-value{
	display:inline-block;
	text-transform: uppercase;
}






.btn-primary, .btn-primary:hover, .btn-primary:active, .btn-primary:visited {
	background-color: #6abf69 !important;
	border:1px solid #6abf69 !important;
}




/*
::::::::::::::::::::::::::::::::::::::::::::::::::::
Bootstrap 4 breakpoints
*/
/* Small devices (landscape phones. 544px and up) */
@media (min-width: 544px) {  
	h1{font-size:3.66rem;}
	h2{font-size:2.2875rem;}
	h3{font-size:1.83rem;}
	h4{font-size:1.29625rem;}
	h5{font-size:0.915rem;}
	h6{font-size:0.7625rem;}
	.title1{font-size:3.66rem;}
	.title2{font-size:2.2875rem;}
	.title3{font-size:1.83rem;}
	.title4{font-size:1.29625rem;}
	.title5{font-size:0.915rem;}
	.title6{font-size:0.7625rem;}
	.subtitle1{font-size:0.61rem;}
	.subtitle2{font-size:0.53375rem;}
	.body1{font-size:0.61rem;}
	.body2{font-size:0.53375rem;}
	.button{font-size:0.33375rem;}
	.caption{font-size:0.4575rem;}
	.overline{font-size:0.38125rem;}
}

/* Medium devices (tablets. 768px and up) The navbar toggle appears at this breakpoint */
@media (min-width: 768px) {  
	h1{font-size:4.44rem;}
	h2{font-size:2.775rem;}
	h3{font-size:2.22rem;}
	h4{font-size:1.5725rem;}
	h5{font-size:1.11rem;}
	h6{font-size:0.925rem;}
	.title1{font-size:4.44rem;}
	.title2{font-size:2.775rem;}
	.title3{font-size:2.22rem;}
	.title4{font-size:1.5725rem;}
	.title5{font-size:1.11rem;}
	.title6{font-size:0.925rem;}
	.subtitle1{font-size:0.74rem;}
	.subtitle2{font-size:0.6475rem;}
	.body1{font-size:0.74rem;}
	.body2{font-size:0.6475rem;}
	.button{font-size:0.4475rem;}
	.caption{font-size:0.555rem;}
	.overline{font-size:0.4625rem;}	
}

/* Large devices (desktops. 992px and up) */
@media (min-width: 992px) { 
	h1{font-size:5.22rem;}
	h2{font-size:3.2625rem;}
	h3{font-size:2.61rem;}
	h4{font-size:1.84875rem;}
	h5{font-size:1.305rem;}
	h6{font-size:1.0875rem;}
	.title1{font-size:5.22rem;}
	.title2{font-size:3.2625rem;}
	.title3{font-size:2.61rem;}
	.title4{font-size:1.84875rem;}
	.title5{font-size:1.305rem;}
	.title6{font-size:1.0875rem;}
	.subtitle1{font-size:0.87rem;}
	.subtitle2{font-size:0.76125rem;}
	.body1{font-size:0.87rem;}
	.body2{font-size:0.76125rem;}
	.button{font-size:0.56125rem;}
	.caption{font-size:0.6525rem;}
	.overline{font-size:0.54375rem;}
}

/* Extra large devices (large desktops. 1200px and up) */
@media (min-width: 1200px) {  
	h1{font-size:6rem;}
	h2{font-size:3.75rem;}
	h3{font-size:3rem;}
	h4{font-size:2.125rem;}
	h5{font-size:1.5rem;}
	h6{font-size:1.25rem;}
	.title1{font-size:6rem;}
	.title2{font-size:3.75rem;}
	.title3{font-size:3rem;}
	.title4{font-size:2.125rem;}
	.title5{font-size:1.5rem;}
	.title6{font-size:1.25rem;}
	.subtitle1{font-size:1rem;}
	.subtitle2{font-size:0.875rem;}
	.body1{font-size:1rem;}
	.body2{font-size:0.875rem;}
	.button{font-size:0.65rem;}
	.caption{font-size:0.75rem;}
	.overline{font-size:0.625rem;}
}
