html {
  background-color: #f4f4f4;
  color: #111;

  @media print {
    background-color: initial;
    color: initial;
    font-size: 11pt;
  }
} 
 

p {
  max-width: 34em;
  line-height: 1.5;
}

hr{
  border-style: none;
  border-width: 0;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-color: #999;
}

h2, h3, h4 {
  font-family: "helvetica neue",helvetica,sans-serif;
}

h2 {
  font-size: 1.5rem;
}
h3 {
  font-size: 1.25rem; 
  margin-bottom: 0.5rem;
}

@media screen {
  .print{
    display: none;
  }
}

@media print {

  .twocolumn--print{
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 1em;
  }
  .f5--print {
    font-size: 1rem;
  }
  .mt1--print{
    margin-top: 0.25rem
  }

  h1 {
    margin-top: 0 !important;
    margin-bottom: 0 !important;
  }

  h2{
    margin-top: 0.5rem !important;
    margin-bottom: 0 !important;
  }
  h3,
  h4 {
    margin-top: 0.25rem;
    margin-bottom: 0;
  }

  .space:not(:first-of-type) {
    margin-top: 0.25rem !important;
    margin-bottom: 0 !important;
  }

  p {
    margin-top: 0;
    margin-bottom: 0;
    max-width: initial;
    line-height: initial;
  }

  section {
    margin-left: 2.5rem;

    h2 {
      margin-left: -2.5rem;
    }

    h3{
      margin-left: -1rem;
    }
  }

  .noprint {
    display: none;
  }

  .lh-copy {
    line-height: initial;
  }

  .measure-wide {
    max-width: initial;
  }

  hr{
    display:none
  }
}
