.smallMultiple .background{
	fill:white;
	opacity:1;
	stroke:rgba(0,0,0,0.16);
	stroke-opacity:0.5;
	stroke-width:2;
}

.smallMultiple rect{
	fill:white;
	opacity:0.9;
}


.smallMultiple text{
	font-size:0.7rem;
	pointer-events:none;
	text-anchor: middle;
	fill: grey;
	text-transform: capitalize;
}

.smallMultiple .y.axis text {
	font-size: 0.65rem; 
}

.smallMultiple #barchart-map-title {
	fill: rgba(0,0,0,0.9);
	font-size: 0.85rem; 
	font-weight: 600;
}
