#map-vis-header {
	/* background:#f1f1f1; */
	margin: 5px 5px 5px 5px;
	/* padding: 10px 0px 10px 0px; */
}

#svg-map-vis {
	background:white;
}


/* MAP LAND */
.land {
	fill: #535353;
	stroke: white; 
	/* stroke: #969696;  */
	stroke-width: 1px;
	fill-opacity:0.3;
	stroke-linejoin: round;
	stroke-linecap: round;
}

/* .land:hover {
	stroke: black; 
	fill:yellow;
} 
*/

.land-label{
	fill: black;
	fill-opacity: .9;
	font-size: 12px;
	font-weight: 500;
	text-anchor: middle;
	text-transform: capitalize;
	pointer-events: none;
	text-shadow:0px 0px 5px white;
}

/* .land-rect{
	fill:none;
	stroke:black;
	stroke-width: 1px;
} */

/* ==================== */


 /* FEATURE MAP */
.feature-map {
	stroke: white; 
	/* fill:#ccc; */
}

.feature-map:hover {
	stroke: black;
}

.feature-label{
	font-size:10px;
	opacity:1;
	text-transform: capitalize;
}



/* LEGEND */
.legend rect{
	fill:white;
	/* stroke:#f0f0f0; */
	opacity:0.9;
}

.legend circle {
	fill: none;
	stroke: #6baed6;
	stroke-width: 2px;
}

.legend text{
	font-size:12px;
	fill:black;
	pointer-events:none;
	text-anchor: middle
}
  