
html {
    font-size:10px;
}


#appMsg{
    font: 1.7rem sans-serif;
}

#container-vis{
    padding-top: 2rem;
}

#container-analisis{
    background: rgba(242,242,242, 0.4);
	border:0.05rem solid #deebf7;
	/* border-radius: 1.5rem; */
}

#container-informacion{
    font: 1.3rem sans-serif;
    font-weight: 700;
    background: #e5f5e0;
	border:0.05rem solid #a1d99b;
    border-radius: 1.5rem;
    margin:1rem 0rem 1rem 0rem;
    padding:1rem 1rem 1rem 1rem;
}

/* #container-bd{
    margin:0.5rem 0rem 0.5rem 0rem;
} */

#time-period{
    background: #f0f0f0;
	border:0.05rem solid #d9d9d9;
    /* border-radius: 1.5rem; */
    padding: 0.5rem 0rem 0.5rem 0rem;
}

.titulo-container{
    color:rgba(0,0,0, 0.6)
}
.titulo-vis{
    padding:2rem 1rem 1rem 1rem;
    color:rgba(0,0,0, 0.6)
}


.tooltip{	
	width: auto;
	height: auto;
	border-radius:5px;
	pointer-events: none;
	padding: 0.5em 0.5em 0em 0.5em;
	background:  rgba(255, 255, 255, 0.95);
	border: 1px solid #bdbdbd;
	/* background-color: #f1f1f1; */
	/* h-offset v-offset blur spread color */
	box-shadow: 0 2px 4px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12)!important;
}

.tooltip .texto{
    font: 1.1rem sans-serif;
    text-transform: capitalize;
    margin:1rem 0rem 1.2rem 0rem;
}

svg {
    font: 1rem sans-serif;
}

.centrado{
    text-align: center;
}



.mylayers{
    fill-opacity: 0.8;
}

.legend{
    cursor:pointer;
}

.axis path, .axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
}

#svg_tempo{
    font: 1.1rem sans-serif;
    font-weight: 600;
}

#svg_tempo .axis path, #svg_tempo .axis line{
    fill: none;
    stroke: #2b8cbe;
    stroke-width: 0.3rem;
    shape-rendering: crispEdges;
}

.brush .extent {
    stroke: #636363;
    stroke-width: 0.1rem;
    fill:#bdbdbd;
    fill-opacity: .35;
    shape-rendering: crispEdges;
}

/* MAP LAND */
.land {
    fill: #d9d9d9;
    opacity: 1;
	stroke:#969696;
	/* stroke: rgba(0, 0, 0, .2); */
}