#map-vis-header {
	/* background:#f1f1f1; */
	margin: 5px 5px 5px 5px;
	/* padding: 10px 0px 10px 0px; */
}

#svg-map-vis {
	/* background:#D4E6F7; */
}

/* MAP LAND */
.land-map {
	fill: #ccc;
	stroke: #969696; 
	stroke-width: 1px;
}

.land-map:hover {
	stroke: black; /* orange */
	/* fill: lightsteelblue; */
}
/* ==================== */


 /* FEATURE MAP */
.feature-map {
	stroke: #737373;
	fill:#ccc;
}

.feature-map:hover {
	stroke: black;
}