/* Copyright 2014
 *
 * Galaxy XML
 * 
 * RABOUDY Ynes 
 * CUENCA Erick
 *
 * Universite Montpellier 2 - Informatique
 */

 .grille { 
	stroke			: black;
	stroke-width	: 1;
}

.lineDraw { 
	stroke			: blue;
	stroke-width	: 10;
}

.circles { 
	stroke			: steelblue;
	fill			: lightblue;
}

.circlesOver { 
	stroke			: red;
	fill			: red;
}


.circlesMur{ 
	stroke			: yellow;
	fill			: yellow;
}

.circlesMurOver { 
	stroke			: black;
	fill			: black;
}

.peintureMur { 
	stroke			: red;
	stroke-width	: 5;
}





div.tooltipdraw {
    position: absolute;
    text-align: left;
    padding: 8px;
    font: 10px Verdana;
    background: lightsteelblue;
    border: px;
    border-radius: 8px;
    //pointer-events: none;
}